junitvm*.properties
build.properties
.DS_Store
.settings
.venv
javadoc
*.tmproj
.project
.classpath
.gradle
.cache
*.lilith
*.log
atlassian-ide-plugin.xml
*.pyc
logs/*.log
logs/*.zip
results
.DS_Store
temp
*.substituted
.idea
